* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
#map {
  height: 100%;
  width: 100%;
}

.ng-scope {
  height: 100%;
}

.message {
  text-align: center;
}

nav {
  background-color: black;
}

.btn-floating.btn-large {
  width: 22em;
  height: 22em;
  display: block;
  vertical-align: middle;
  line-height: 28em;
  margin: 0 auto;
}

.btn-large i {
  font-size: 6em;
}

.botNav {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 92%;
  width: 100%;
  background-color: black;
  text-align: center;
}

.botLink {
  display: inline-block;
  color: white;
  font-size: 24pt;
}

.left {
  position: relative;
  float: left;
  left: 1%;
}

.right {
  position: absolute;
  float: right;
  right: 1%;
}

.start-race {
  cursor: pointer;
}

.congrats {
  position: relative;
  top: 30%;
  color: green;
  text-align: center;
  font-size: 32pt;
}
