* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100vh;
}

#map {
  display: block;
  top: 0%;
  height: 70vh;
  width: 100%;
}

#run {
  display: block;
  bottom: 0%;
  height: 0%;
}

.ng-scope {
  height: 100vh;
  overflow: hidden;
}

.message {
  text-align: center;
}

nav {
  background-color: black;
}

.btn-floating.btn-large {
  width: 22em;
  height: 22em;
  display: block;
  vertical-align: middle;
  line-height: 28em;
  margin: 0 auto;
}

.btn-large i {
  font-size: 6em;
}


#botNav {
  position: absolute;
  height: 30vh;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
}

.botNavAchievements {
  position: absolute;
  height: 5vh;
  bottom: -1px;
  width: 100%;
  background-color: black;
  text-align: center;
}

.botLink {
  display: inline-block;
  color: white;
  font-size: 20pt;
}

.medalTimes {
  background-color: black;
  color: white;
  font-size: 18pt;
  display: block;
  height: 6vh;
  margin-top: auto;
}

.left {
  position: relative;
  float: left;
  left: 2%;
}

.right {
  position: absolute;
  float: right;
  right: 1%;
}

.start-race {
  cursor: pointer;
}

.congrats {
  position: relative;
  top: 30%;
  color: green;
  text-align: center;
  font-size: 32pt;
}

.clickable {
  cursor: pointer;
}

.banner {
  background-color: #088da5;
  height: 8vh;
  text-align: center;
  padding-top: 1vh;
  color: white;
  font-size: 2em;
}

.medalContainerOuter {
  display: block;
  width: 100%;
  height: 87vh;
}

.medalContainerInner {
  display: block;
  color: white;
  height: 10vh;
  width: 115px;
  margin: 10vh auto;
  font-size: 18pt;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  position: relative;
  margin-top: 1%;
  height: 100%;
  width: auto;
}

.number {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  bottom: 30%;
  margin: 0 auto;
  font-size: 1em;
  color: black;
}

.medals {
  position: relative;
  display: inline-block;
  height: 5vh;
  width: auto;
  top: 1vh;
  margin-left: 1vh;
}

.total {
  font-size: 2em;
  color: black;
  text-align: center;
}

.buttonContainer {
  width: 100%;
  height: 50vh;
}

.center {
  /*display: inline-block;*/
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
