<div class="banner"> Achievements </div>

<div class="medalContainerOuter">
  <div class="medalContainerInner">
    <img src="../assets/gold.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/silver.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; <span class="number">0</span></div> 
  </div>
  <div class="medalContainerInner">
    <img src="../assets/bronze.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="total"> Total Runs: {{ bronze + silver + gold }} </div>

  <div class="botNavAchievements">
    <a href="#/" class="botLink left"  > x </a>
    <a href="#/profile" class="botLink right clickable"> <i class="small material-icons">perm_identity</i> </a>
  </div>

</div>
