<div class="banner"> Achievements </div>

<div class="medalContainerOuter">
  <div class="medalContainerInner">
    <img src="../assets/gold.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; 16 </div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/silver.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; 8 </div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/bronze.png" class="icon" />
    <div class="number"> &nbsp; x &nbsp; 2 </div>
  </div>
  <div class="total"> Total Runs: 26 </div>


  <div class="botNav">
    <a class="botLink left" href="#/" > x </a>
    <div class="botLink right clickable" ng-click="startRun()"> <i class="small material-icons">done</i> </div>
  </div>
</div>