
<!-- Profile Link -->
<div id="topNav">
  <a href="#/profile" class="icon middle left">
    <i class="medium material-icons" style="color:white">perm_identity</i>
  </a>

  <a href="#/achievements" class="icon right middle">
    <img src="../assets/gold.png" height="50" width="30" /> 
  </a>
</div>

  <!-- Achievements Link -->

  <!-- Big Button to start run -->

  <!-- Run Distance Spinner -->
  <!-- (does not exist yet) -->

  <!-- Radio input for solo, friends, public run -->
  <!-- (does not exist yet) -->

<div class="boltButton">
  <a href="#/run" class="btn-floating btn-large waves-effect waves-light red lighten-1">
    <img src="../assets/thunderbolt.png" width="40%" height="50%"/>
  </a>
</div>
<h2 style="text-align:center; height:10vh"> Bolt </h2>
<div class="container">
  <form class="form">   
    <div class="switch-field">
      <input type="radio" id="switch_3_left" name="switch_3" value="yes" checked/>
      <label for="switch_3_left">Solo</label>
      <input type="radio" id="switch_3_center" name="switch_3" value="maybe" />
      <label for="switch_3_center">Friend</label>
        <input type="radio" id="switch_3_right" name="switch_3" value="no" />
      <label for="switch_3_right">Public</label>
    </div>
  </form>
</div>

