<div class="container profile">
  <ul>
    <li>
      <i class="material-icons prefix">account_circle</i>
      <div>{{ session.firstName }} {{session.lastName}}</div>
    </li>
    <li>
      <i class="material-icons prefix">email</i>
      <div>{{ session.email }}</div>
    </li>
    <li>
      <i class="material-icons prefix">phone</i>
      <div>{{ session.phone }}</div>
    </li>
    <li>
      <i class="material-icons prefix">trending_up</i>
      <div>{{ session.preferredDistance }}</div>
    </li>    
  </ul>
</div>

  <!-- <div> -->

    <!-- <div class="row">
      <i class="material-icons prefix">account_circle</i>
      <div>{{ session.firstName }} {{session.lastName}}</div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input disabled placeholder={{session.email}} ng-model="session.email" id="icon_email" type="email" class="validate">
          <label class="active" for="icon_email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input disabled placeholder="{{session.phone}}" ng-model="session.phone" id="icon_telephone" type="text" class="validate">
          <label class="active" for="icon_telephone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">trending_up</i>
          <input disabled placeholder="{{session.preferredDistance}}" ng-model="session.distance" id="icon_trending" type="text">
          <label class="active" for="icon_telephone">Preferred Distance</label>
        </div>
      </div>
  </div>
    <br>
    <br>
  <div class="center-align">
    <span>
      <a href="#/" class="waves-effect waves-light btn right-align">Back<a>
    </span>
    <span>
      <a href="#/createProfile" class="waves-effect waves-light btn right-align">Edit Profile</a>
    </span>
  </div>
  <br>
  <div>
    <a href="#/" class="waves-effect waves-light btn right-align" ng-click="signout()">Log Out</a>
  </div> -->
<!-- </div> -->
