<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#/" class="brand-logo">Profile</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down right">
      <li><a href="#/" class="icon left">Run</a></li>
      <li><a href="#/achievements" class="icon right">Achievements</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <ul class="collection">
    <li class="collection-item valign-wrapper">
      <i class="valign material-icons profile-icon">account_circle</i>
      <p class="valign">{{ session.firstName }} {{session.lastName}}</p>
    </li>
    <li class="collection-item valign-wrapper">
      <i class="valign material-icons profile-icon">email</i>
      <p class="valign">{{ session.email }}</p>
    </li>
    <li class="collection-item valign-wrapper">
      <i class="valign material-icons profile-icon">phone</i>
      <p class="valign">{{ session.phone }}</p>
    </li>
    <li class="collection-item valign-wrapper">
      <i class="valign material-icons profile-icon">trending_up</i>
      <p class="valign">{{ session.preferredDistance }} miles</p>
    </li>
  </ul>
</div>

<div class="container profile center-align">
  <div class="buttonLayer">
    <span><a href="#/" class="waves-effect grey darken-3 waves-light btn">Run<a></span>
    <span ng-click="navigate('/createProfile')"
      class="waves-effect grey darken-3 waves-light btn">Edit
    </span>
    <span><a href="#/" class="waves-effect grey darken-3 waves-light btn" ng-click="signout()">Log Out</a></span>
  </div>
</div>
