<div id="map"></div>


  <div id="botNav">

    <div class ="medalTimes" ng-show="!raceStarted">Total Distance: {{ totalDistance }} mi</div>
    <div class ="medalTimes" ng-show="!raceStarted">Bronze: {{ bronzeTime.format('mm:ss') }}</div>
    <div class ="medalTimes" ng-show="!raceStarted">Silver: {{ silverTime.format('mm:ss') }}</div>
    <div class ="medalTimes" ng-show="!raceStarted">Gold: {{ goldTime.format('mm:ss') }}</div>
    <div class ="medalTimes" ng-show="raceStarted">
      <div class="botLink" >{{ timeUntilCurrentMedal.format('mm:ss') }} {{ currentMedal }}</div>
      <a class="botLink right" href="#/" ng-click="stopGeoUpdater()"> x </a>
    </div>
    <div class ="medalTimes">
      <a class="botLink left" href="#/" ng-show="!raceStarted"> x </a>
      <div class="botLink clickable" ng-show="!raceStarted" ng-click="regenRace()"> <i class="small material-icons">replay</i> </div>
      <div class="botLink right clickable" ng-show="!raceStarted" ng-click="startRun()"> <i class="small material-icons">done</i> </div>
    </div>
  </div>
