<!-- Controller: AuthController - client/app/auth/auth.js -->
<div id='signin' class="container">
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' placeholder="username">
    <input type="password" ng-model='user.password' placeholder="password">
    <button class="waves-effect waves-light grey darken-3 btn">Sign In</button>
  </form><br>
  <div class="card-panel red lighten-3" ng-show="errorDetected">{{signinError}}</div>
  <a href="#/signup">Don't have an account?<strong> Sign Up!</strong></a>
</div>
